.Header {
  align-items: center;
  background-image: url("/backgrounds/mk_header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 20px black;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
